<ion-view view-title="Music">
    <ion-content>
        <h2>Using Web Audio API - Remote file</h2>

        <button class="button button-positive" ng-click="startStream()">Start stream</button>
        <button class="button button-assertive" ng-click="stopStream()">Stop stream</button>

        <div class="list">
            <div class="item item-button-left">
                <button class="button button-assertive" ng-click="startStream()">
                    <i class="icon ion-ios-play"></i>
                </button>

                <p>{{ livestream.title}}</p>
                <!--<p>{{livestream.duration}}</p>-->
                <span class="badge badge-assertive" ng-show="livestream.progress">{{ livestream.progress | time}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
